################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameProject/FileContentIndex/32e3351b-32d5-45d5-b551-80dfc15f4d25.vsidx
